#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
#footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: #444444;
}
div.code {
    font-family: courier, monospace;
    font-size: 16px;
    background-color: #EEE;
    white-space: pre-wrap;
    margin: 20px 100px 20px 20px;
    padding: 10px;
}
div.change {
    color: green;
}
div.task {
  padding: .0rem 1rem;
  margin: .8rem 0;
  color: #333; 
  /* color: #7a7a7a; */
  border-left: .25rem solid #e5e5e5;
    /* color: #333; */
    /* padding: 10px; */
    /* background-color: #ddd; */
}
